:root {
  --primary-text-color: #212121;
  --text-color: #2196f3;
  --main-text-color: #757575;
  --accent-color: #ffffff;
}
body {
  font-family: Roboto, sans-serif;
}
/*-----утилиты----*/
h1,
h2,
h3,
p {
  padding: 0;
  margin: 0;
}
ul {
  padding: 0;
  margin: 0;
  padding-left: 0;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section-content {
  padding-top: 0;
}
/*heder*/
.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}
.heder-container {
  display: flex;
  align-items: center;
}
.header-content {
  border-bottom: 1px solid #ececec;
}
.logo-link {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--text-color);
  text-decoration: none;

  display: block;
  margin-right: 93px;
}
.logo-heder {
  color: var(--primary-text-color);
}
.logo-footer {
  color: var(--accent-color);
}

.list {
  list-style: none;
}

.header-items {
  display: flex;
}
.header-items li:not(:last-child) {
  margin-right: 50px;
}
.site-nav-current {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
}
.site-nav {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  text-decoration: none;
}
.site-nav:hover,
.site-nav:focus {
  color: var(--text-color);
}
.active {
  color: var(--text-color);
}
.site-nav-current:hover,
.site-nav-current:focus {
  color: var(--text-color);
}
.auth-nav {
  display: flex;
  margin-left: auto;
}

/*.thumbnail {
 
}*/
.nav-link {
  display: flex;
  align-items: center;
  color: var(--main-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  text-decoration: none;
}
.icon-nav:hover,
.icon-nav:focus {
  fill: var(--text-color);
}
.icon-nav {
  fill: currentColor;
  margin-right: 10px;
}

.auth-nav li:not(:last-child) {
  margin-right: 40px;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--text-color);
}
/*hero*/
.hero {
  background-color: #2f303a;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}
.container-hero {
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/hero.jpg");
  margin-left: auto;
  margin-right: auto;
  width: 1600px;

  background-size: cover;
  background-position: center;
}
.hero-title {
  color: var(--accent-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-transform: uppercase;
  text-align: center;

  margin: 0 auto;
  max-width: 696px;
}
.items {
  display: flex;
}
/*section*/
.icon {
  display: flex;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.section-title {
  color: #2f303a;
}
.section-works {
  background-color: #f5f4fa;
}
/*h3*/
.text-list:not(:last-child) {
  margin-right: 30px;
}
.text-list {
  width: 270px;
}

.feature-list-title {
  color: var(--primary-text-color);
  font-size: 14px;
  line-height: 1.1;
  margin-bottom: 10px;
}
/*h3 heading*/
.heading {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;

  margin-bottom: 10px;
}
.social-list {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}
.social-list-item:not(:last-child) {
  margin-right: 10px;
}
.social-list-item {
  display: flex;
}
.social-list-link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 44px;
  height: 44px;

  border-radius: 50px;
}
.social-list-link:hover,
.social-list-link:focus {
  background: var(--text-color);
}
.social-list-icon {
  fill: #afb1b8;
}
.social-list-link:hover svg,
.social-list-link:focus svg {
  fill: var(--accent-color);
}

/*h2*/
.caption-section {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;

  margin-bottom: 50px;
}
.aside-social {
  background-color: var(--accent-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
.items-image {
  display: flex;
  justify-content: space-between;
}
.items-image :not(:last-child) {
  margin-right: 30px;
}
.meta {
  display: flex;
  justify-content: space-between;
}
.section-works li:not(:last-child) {
  margin-right: 10px;
}
.text {
  color: var(--main-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
}
/*button*/
.btn-primary {
  color: var(--accent-color);
  background-color: var(--text-color);
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  margin-top: 30px;
  border-radius: 4px;
}
.btn {
  color: var(--primary-text-color);
  background-color: #f5f4fa;
  cursor: pointer;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.62;
  border-radius: 4px;
  padding: 6px 22px;
  border: none;
}
.items-btn {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.items-btn :not(:last-child) {
  margin-right: 8px;
}
.pagination {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.item {
  flex-basis: calc((100% - 60px) / 3);
}

.list-aside {
  padding: 20px 24px;
  border-top: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}
.btn:hover,
.btn:focus {
  color: var(--accent-color);
  background-color: var(--text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
/*h2*/
.caption {
  color: var(--primary-text-color);
  font-size: 18px;
  line-height: 2;

  margin: 0px;
  margin-bottom: 4px;
}
.pic {
  display: block;
}
.tagline {
  color: var(--main-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
}
.aside {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}
/*new section*/
.subject {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;

  margin-bottom: 50px;
}
.row {
  display: flex;
  justify-content: center;
}
.items-logo {
  display: flex;
}
.row :not(:last-child) {
  margin-right: 30px;
}
.items-logo-link {
  display: flex;
  align-items: center;
  border: 1px solid #afb1b8;
  width: 170px;
  height: 92px;
  justify-content: center;
  border-radius: 4px;
}

.items-logo-link:hover .list-logo,
.items-logo-link:focus .list-logo {
  fill: var(--text-color);
}
.items-logo-link:hover,
.items-logo-link:focus {
  border-color: var(--text-color);
}
.list-logo {
  fill: #afb1b8;
}
/*footer*/
.container-footer {
  display: flex;
  align-items: baseline;
}
.footer {
  display: flex;
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-logo {
  margin-bottom: 28px;
}
.contact {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;

  display: block;
  margin-bottom: 12px;
}
.contact:hover,
.contact:focus {
  color: var(--text-color);
}
.contact-address {
  font-style: normal;
}
.contact-item {
  color: var(--accent-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;

  margin-bottom: 12px;
}
.subtitle {
  text-decoration: none;
  display: block;
}
.subtitle:hover,
.subtitle:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.footer-contact {
  margin-bottom: 0;
}
.footer-aside {
  margin-left: 70px;
}
.footer-subject {
  color: var(--accent-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
}
.social {
  display: flex;
  margin-top: 20px;
}
.social-item:not(:last-child) {
  margin-right: 10px;
}
.social-item {
  display: flex;
}
.social-link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 44px;
  height: 44px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50px;
}
.social-link:hover,
.social-link:focus {
  background: var(--text-color);
}
.social-icon {
  fill: var(--accent-color);
}
.social-link:hover svg,
.social-link:focus {
  fill: var(--accent-color);
}
